@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans+Deva:wght@100..800&family=Playwrite+DK+Loopet:wght@100..400&family=Savate:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body {
    background-color: black;
    /* color: white;
    margin: 0;
    padding: 0; */
  }
.main{
    background-image:url("assets/images/netflix background.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
}
.main .box{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    position: absolute;
    top: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.932) 0%,
        rgba(0, 0, 0, 0.712) 30%,
        rgba(0, 0, 0, 0.712) 100%
    );
}



.netlogo{
    height: 39px;
}
nav{
    position: relative;
    top: 25px;
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav .button{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav .logo{
    display: flex;
    justify-self: flex-start;
    position: relative;
    z-index: 1;
}

.button li{
    list-style: none;
}

.signinbutt{
    /* margin-left: 15px; */
    cursor: pointer;
    height: 32px;
    width: 70px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;

}
.langbutt option{
    background-color: white;
    color: black;
}
.langbutt{
    height: 32px;
    width: 100px;
    background-color: transparent;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
}

.firstcont{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    z-index: 1;
    text-align: center;
    /* row-gap: 20px; */
}

.firstcont .login input{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  color: rgb(255, 255, 255);
  width: 400px;
  border-radius: 5px;
  background-color: transparent;
  outline: none; 
  border: 1px solid rgba(255, 255, 255, 0.671);
}

.lastcont .lockin input{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  color: rgb(255, 255, 255);
  width: 600px;
  border-radius: 5px;
  background-color: transparent;
  outline: none; 
  border: 1px solid rgba(255, 255, 255, 0.671);
}

.login{
    display: flex;
    align-items: center;
    gap: 5px;
}
.lockin{
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstcont .login button{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: red;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  
}
.lastcont .lockin button{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: red;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  
}

.lastcont .lockin{
    max-width: 80vw;
}

.firstcont .login input::placeholder {
    color:rgba(245, 245, 245, 0.801); /* softer white for placeholder */
}
.lastcont .lockin input::placeholder {
    color:rgba(245, 245, 245, 0.801); /* softer white for placeholder */
}


.firstcont span:first-child{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 56px;
  /* height: 70px; */
}

.firstcont span:nth-child(2){
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 56px;
  margin-bottom: 20px;
  /* height: 70px; */
}

.firstcont span:nth-child(3){
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  /* height: normal; */
  margin-bottom: 30px;
}

.firstcont span:nth-child(4){
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 20px;
  
  /* height: 24px; */
}
.lastcont span:nth-child(1){
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  
  /* height: 24px; */
}

@media screen and (max-width:380px){
    nav{
        position: relative;
        top: 25px;
        display: flex;
        max-width: 100vw;
        margin: auto;
        justify-content: flex-start;
        align-items: center;
    }
    
    nav .button{
        display: flex;
        position: relative;
        z-index: 1;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (max-width:330px){
    

    nav{
        position: relative;
        top: 25px;
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        margin: auto;
        justify-content: flex-start;
        align-items: center;
    }
    
    nav .button{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .firstcont span:first-child{
        font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-size: 20px;
      /* height: 70px; */
    }
    
    .firstcont span:nth-child(2){
        font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-size: 20px;
      margin-bottom: 20px;
      /* height: 70px; */
    }
}
@media screen and (max-width:620px){
    .login{
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column;
    }
    .firstcont .login input{
        width: 300px;
    }
}
@media screen and (max-width:290px) {
    .firstcont .login input{
        width: 200px;
    }
}

.blline{
   width: 100%;
   height: 3px;
   background-color: #8f1d55; 
}
.blshade{
    width: 100%;
    height: 50px;
    background: linear-gradient(
        to bottom,
        #121c42 0%,
        /* #1a2145 0%, */
        black 80%,
        black 100%
    );
}
.belowmain{
    min-height:100vh;
    background-color: black;
    position: relative;
    padding-bottom: 40px;
}
.trecon{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    position: absolute;
    left: 160px;
    
}

.grid{
    display: flex;
    gap: 40px;
    max-width: 80%;
    margin: auto;    
    
    
}

.gap{
    height: 10vh;
    width: 100%;
}
.gap1{
    height: 5vh;
    width: 100%;
}

.grid img{
    position: relative;
    z-index: 2;
    border-radius: 10px;
    height: 250px;
}

.imgcon{
    position: relative;
    cursor: pointer;
}

.imgcon:hover img,
.imgcon:hover .overlay {
  transform: scale(1.09);
}
.overlay{
    position: absolute;
    z-index: 3;
    color: black;
    font-size: 100px;
    top: 130px;
    left: -20px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 2px rgb(207, 197, 197);
}
@media screen and (max-width:1200px) {
    .grid{
        display: flex;
        overflow-x: scroll;   
    }
    .trecon{
        position: absolute;
        left: 20px;
    }
    .more{
        position: absolute;
        left: 20px;
    }
    .ov1{
        left:0px
    }
    .reasons {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        /* grid-template-rows: 1fr 1fr; */
        width: 100% !important; /* override max-width behavior */
    }
    
}
.more{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    position: absolute;
    left: 160px;
}

.reasons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-direction: column; */
    
    gap: 20px;
    max-width: 80%;
    margin: auto;
    position: relative;
}
.reasonone, .reasontwo, .reasonthree, .reasonfour{
    width: 100%;
  min-width: 200px;
    
    position: relative;
    height:300px;
    border-radius: 10px;
    
    background: linear-gradient(
        to bottom,
        #1a2145 0%,
        #1a2145 50%,
        #8f1d55 100%
    );
    display: flex;
    flex-direction: column;
}

.reasonone img{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;  
}
.reasontwo img{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;  
}
.reasonthree img{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;  
}
.reasonfour img{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;  
}
.header{
    /* position: absolute;
    top: 10px;
     */
     max-width: 80%;
     margin: auto;
     margin-top: 10px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.content{
    max-width: 80%;
     margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}


.belbel{
    height: 100vh;
    width: 100%;
    background-color: black;
}
@media screen and (max-width:500px){
    .reasons {
        display: grid;
        grid-template-columns: 1fr !important;
        /* grid-template-rows: 1fr 1fr; */
        width: 100% !important; /* override max-width behavior */
    }
    .reasonone, .reasontwo, .reasonthree, .reasonfour{
        width: 100%;
      min-width: 100px;
        
        position: relative;
        max-height:400px;}
    
    .more{
        position: absolute;
        left: 20px;
    }
    
}
.faq{
    width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faqh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-left: 160px;
    margin-bottom: 20px;
}
.q{
    background-color: #2d2d2d;
  color: rgba(255, 253, 253, 0.938);
  /*  */font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
  width: 75%;
  height: 80px;
  margin: 0 auto;
  /* border-radius: 4px; */
  display: flex;
  align-items: center;
    justify-content: space-between;
    cursor: pointer;


}

.q .qu{
    padding-left: 10px;
}

.q .pl{
    padding-right: 10px;
    font-size: 75px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.q:hover{
    background-color: rgba(143, 138, 138, 0.795);
}
@media screen and (max-width:650px){
    .faq .faqh{
        margin-left: 50px;
    }

    .lastcont .lockin input{
        max-width: 80%;
    }
}
.lastcont{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media screen and (max-width:850px){
    .lastcont .lockin{
        display: flex;
        flex-direction: column;
    }

    .lockin{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

.actfoot .span{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  color: rgb(187, 181, 181);
  max-width: 80%;
  margin: auto;
}

.actfoot .span span{
    text-decoration: underline;
    cursor: pointer;
}

.actgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80%;
    margin: auto;
}

.co{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.co a{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  color: rgb(187, 181, 181);
  cursor: pointer;
  display: inline;
  width: fit-content;
}

.gapo{
    height: 5vh;
    width: 100%;
}

.langbuttne{
    max-width: 80%;
    margin:auto;
}

.netin{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  color: rgb(187, 181, 181);
}

.autho{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.autho span{
    text-decoration: underline;
    color: rgb(100, 185, 219);
}
.butto li{
    list-style: none;
}